# docker - specific configuration
CONTAINER_NAME=force_position_control # container name
TAG=latest # image tag
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp # DDS implementation

# commands
CMD_INTERACTIVE="bash"
CMD="bash"