# List of usefull colors
COLOR_RESET="\033[0m"
COLOR_INFO="\033[0;32m" # Green
COLOR_ITEM="\033[0;34m" # Blue
COLOR_QUES="\033[0;35m" # Magenta
COLOR_WARN="\033[0;33m" # Yellow
COLOR_BOLD="\033[1m" # Bold text
COLOR_UNDE="\033[4m" # Underline
COLOR_DEFAULT="\033[1;37m" # White
